[project]
	description = Quick Boggle Solver
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jonathan Yoder (jonyoder)
[access "refs/for/refs/*"]
	read = group user/Jonathan Yoder (jonyoder)
	push = group user/Jonathan Yoder (jonyoder)
	label-Code-Review = -2..+2 group user/Jonathan Yoder (jonyoder)
	label-Verified = -1..+1 group user/Jonathan Yoder (jonyoder)
	rebase = group user/Jonathan Yoder (jonyoder)
	removeReviewer = group user/Jonathan Yoder (jonyoder)
	submit = group user/Jonathan Yoder (jonyoder)
[access "refs/heads/*"]
	read = group user/Jonathan Yoder (jonyoder)
	create = group user/Jonathan Yoder (jonyoder)
	push = +force group user/Jonathan Yoder (jonyoder)
	pushMerge = group user/Jonathan Yoder (jonyoder)
[access "refs/tags/*"]
	push = +force group user/Jonathan Yoder (jonyoder)
	pushTag = group user/Jonathan Yoder (jonyoder)
	pushSignedTag = group user/Jonathan Yoder (jonyoder)
